<!-- Page Content -->
    <div class="container">

      <!-- Heading Row -->
      <div class="row my-4">
        <div class="col-lg-8">
          <img class="img-fluid rounded" src="assets/images/clinic-doctor-health-hospital.jpg" alt="">
        </div>
        <!-- /.col-lg-8 -->
        <div class="col-lg-4">
          <h1>Think Healthcare. Think V D Mali.</h1>
          <p>Combining the best specialists and equipment to provide you nothing short of the best in healthcare.</p>
          <a class="btn btn-primary btn-lg" href="#">Know more</a>
        </div>
        <!-- /.col-md-4 -->
      </div>
      <!-- /.row -->

      <!-- Call to Action Well -->
      <div>
        <h3>Why choose us?</h3>
      </div>
      <div class="card text-white bg-secondary my-4 text-center">

        <div class="card-body">
          <p class="text-white m-0">We are a world class health care centre, providing affordable and quality services in all medical specialties to the local, national and international communities</p>
        </div>
      </div>

      <!-- Content Row -->
      <div class="row">
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">NEUROSURGERY</h2>
              <p class="card-text">Neurosurgery is a specialty of surgery that involves surgical treatment...</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Read More >>></a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">OPHTHALMOLOGY</h2>
              <p class="card-text">At V D Mali Hospital , Ophthalmology is the branch of medicine which deals with...</p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Read More >>></a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->
        <div class="col-md-4 mb-4">
          <div class="card h-100">
            <div class="card-body">
              <h2 class="card-title">CARDIOLOGY</h2>
              <p class="card-text">V D Mali Hospital offer the full range of cardiology services, from early disease detection... </p>
            </div>
            <div class="card-footer">
              <a href="#" class="btn btn-primary">Read More >>></a>
            </div>
          </div>
        </div>
        <!-- /.col-md-4 -->

      </div>
      <!-- /.row -->

    </div>
    <!-- /.container -->