<div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a routerLink="/dashboard">
                        eHealth
                    </a>
                </li>
                <li *ngIf="userData.user_type == 'Admin'">
                    <a routerLink="/user_reg">Users List</a>
                </li>

                <li *ngIf="userData.user_type == 'Nurse' || userData.user_type == 'Doctor'">
                    <a routerLink="/patient_reg">Patient List</a>
                </li>

                <li>
                    <a routerLink="/">Logout</a>
                </li>
                
            </ul>
</div>