 <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; 2018 V D Mali Hospital. All Rights Reserved.</p>
      </div>
      <!-- /.container -->
    </footer>