<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row  my-4">
            <div class="form-all">
                <h1 class="form-header">
                {{pType}}
                </h1>
                <!--
                <div class="mb-4">
                    Please fill in the form below
                </div>
                -->

                <hr size="50">
                <form  #regForm="ngForm" (ngSubmit)="onSubmit()">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">First Name</label>
                            <input name="first_name" type="text" class="form-control" placeholder="First Name" [(ngModel)]="regFields.first_name">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Last Name</label>
                            <input name="last_name" type="text" class="form-control" placeholder="Last Name" [(ngModel)]="regFields.last_name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Age</label>
                        <input name="age" type="text" class="form-control" placeholder="Age" [(ngModel)]="regFields.age">
                    </div>
                    <div class="form-group">
                        <label>Gender</label>
                        <select name="gender" class="form-control" [(ngModel)]="regFields.gender">
                            <option selected>Choose Gender</option>
                            <option value="Male"> Male </option>
                            <option value="Female"> Female </option>
                        </select>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="">Weight ( in lbs )</label>
                            <input name="weight" type="text" class="form-control" placeholder="Weight" [(ngModel)]="regFields.weight">
                        </div>
                        <div class="form-group col-md-6">
                            <label for="">Height ( in feet )</label>
                            <input name="height" type="text" class="form-control" placeholder="Height" [(ngModel)]="regFields.height">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="">Email ID</label>
                        <input type="text" class="form-control" name="email" [(ngModel)]="regFields.email">
                    </div>
                    <div class="form-group">
                        <label for="">DOB</label>
                        <input type="date" class="form-control" name="dob" [(ngModel)]="regFields.dob">
                    </div>
                    <div class="form-group">
                        <label for="">Contact Number</label>
                        <input type="text" class="form-control" name="contact_number" placeholder="" [(ngModel)]="regFields.contact_number">
                    </div>
                    <div class="form-group">
                        <label>Address</label>
                        <input type="text" class="form-control" name="address1" placeholder="1234 Main St" [(ngModel)]="regFields.address1">
                    </div>
                    <div class="form-group">
                        <label>Address 2</label>
                        <input type="text" class="form-control" name="address2" placeholder="Apartment, studio, or floor" [(ngModel)]="regFields.address2">
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="inputCity">City</label>
                            <input type="text" class="form-control" name="city" [(ngModel)]="regFields.city">
                        </div>
                        <div class="form-group col-md-4">
                            <label for="inputState">State</label>
                            <select name="states" class="form-control" [(ngModel)]="regFields.states">
                                <option selected>Choose State</option>
                                <option value="Maharashtra">Maharashtra</option>
                                <option value="Delhi">Delhi</option>
                                <option value="Gujarat">Gujarat</option>
                                <option value="Haryana">Haryana</option>
                                <option value="Goa">Goa</option>
                            </select>
                        </div>
                        <div class="form-group col-md-2">
                            <label for="inputZip">Zip</label>
                            <input type="text" class="form-control" name="zip" [(ngModel)]="regFields.zip">
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" style="float: right;" [disabled]="!regForm.form.valid">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>