<div class="container">
    <div class="row" style="padding: 40px">
        <div class="col-md-12">
            <div class="error-template">
                <h1>
                    Oops!</h1>
                <h2>
                    404 Not Found</h2>
                <div class="error-details">
                    Page Under Construction
                </div>
                
            </div>
        </div>
    </div>
</div>