<div id="page-content-wrapper" *ngIf="responceData.user_type == 'Patient'">
    <div class="container-fluid">
    	
    	<div class="row">
    	<div class="col-sm-4">First Name : {{ responceData.first_name }}</div>
  		<div class="col-sm-4">Last Name : {{ responceData.last_name }}</div>
  		<div class="col-sm-4">Gender : {{ responceData.gender }}</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-4">Mobile : {{ responceData.mobile }}</div>
  		<div class="col-sm-4">Weight : {{ responceData.weight }}</div>
  		<div class="col-sm-4">Height : {{ responceData.height }}</div>
  	</div>
  	<div class="row">
  		<div class="col-sm-12">Address : {{ responceData.first_name }}</div>
  		
	</div>


	<hr>
	<div class="row">
		
		<div class="table-responsive">
                    
                        <label>Medical History:</label>
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <td>Symptoms</td>
                                    <td>Diagnosis</td>
                                    <td>Prescribed Medicine</td>
                                    <td>Tests Done</td>
                                    <td>Specialist Suggested</td>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let ph of patientHistory">
                                    <td>{{ph.symptoms}}</td>
                                    <td>{{ph.diagnosis}}</td>
                                    <td>{{ph.pres_medicine}}</td>
                                    <td>{{ph.test_order}}</td>
                                    <td>{{specialityList[ph.sugg_specialist].s_name}}</td>
                                </tr>    
                            </tbody>
                            
                        </table>
                </div>
		
	</div>
    </div>
</div>