<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-6">About Us</h1>
  </div>
</div>
<div class="container">
<div class="row">
        <div class="col-md-12 mb-12">
          <p>It is the initiative in education along with healthcare that will bring about transformation in the country today…. 
With this thought V. D. Mali Hospital, Navi Mumbai, stands tall by offering quality  healthcare for all strata of the community with its excellent infrastructure.</p>
 
 <p>
Over the years, the V D Mali Group, with its commitment and dedication, has earned the reputation of being a provider of quality education and healthcare in all areas with professional significance. 
</p>
 
<p>
Dr. Vijay D Mali, President of the V D Mali Group, a passionate leader in the fields of education, sports and healthcare has been on a mission to bring in the best facilities for the people of our nation and his benevolence towards this cause is nothing short of inspiring.
</p>        </div>
        <div class="col-md-12 mb-12 mt-4">
         <strong> MISSION </strong> <br>
“To create a top notch health care system that delivers physical, mental and spiritual health needs to all socio-economic strata, locally, nationally and globally; and also to educate and train students to emerge as the finest medical doctors in the community”.
</div>
<div class="col-md-12 mb-12 mt-4">
<strong> VISION</strong> <br>
“To be a world class health care centre, providing affordable and quality services in all medical specialties to the local, national and international communities”.
        </div>
</div>        
<br><br>
</div>