<div id="page-content-wrapper">
            <div class="container-fluid">

            	<div class="col-2" style="float: right;padding-bottom: 4px">
            		<a routerLink="add">
            			<button type="button"  class="btn btn-block btn-primary btn-lg pull-right"><span class="glyphicon glyphicon-plus"></span>Add </button>
            		</a>
            	</div>

            	<div class="">
						<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover"></table>
				</div>

            </div>
</div>