<div class="container">
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center"><img src="assets/images/logo.png" alt="Smiley face" height="42" width="42"></h5>
            <h5 class="login-text-center">LOGIN </h5>
            <form class="form-signin" #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm.value)" >


              <div class="form-label-group">
                <label for="inputEmail">Email address</label>
                <input type="email" name="inputEmail" class="form-control" placeholder="Email address" required autofocus ngModel>
                
              </div>

              <div class="form-label-group">
                <label for="inputPassword">Password</label>
                <input type="password" name="inputPassword" class="form-control" placeholder="Password" required ngModel>
                
              </div>

              <div class="form-label-group">
                <label for="">User Type</label>
                <select name="userType" required class="form-control" ngModel> 
                  <option selected="selected" [disabled]="true">Select User Type</option>
                  <option value="Admin">Admin</option>
                  <option value="Patient">Patient</option>
                  <option value="Doctor">Doctor</option>
                  <option value="Nurse">Nurse</option>
                </select>
              </div>


              <div class="custom-control custom-checkbox mb-3">
                <input type="checkbox" class="custom-control-input" id="customCheck1">
                <label class="custom-control-label" for="customCheck1">Remember password</label>
              </div>

              


              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit" [disabled]="!loginForm.form.valid">Sign in</button>
              

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>